html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

*, ::after, ::before {
  box-sizing: inherit;
}

body { 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: hsl(208, 100%, 97%);
  font-family: 'Brygada 1918', serif;
}

.content {
  width: 400px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px;
  border-radius: 8px;
  color:hsl(208, 100%, 97%);
  background-color: hsl(180, 100%, 50%);
  opacity: 0;
  transform: translateX(200%);
  transition: transform 0.4s ease, opacity 0.5s ease-in-out;
} 

.content:nth-of-type(even) {
  transform: translateX(-200%);
}

.content.content--show {
  transform: translateX(0);
  opacity: 1;
}